<h2>Admin User Page</h2>
<div class="row">
        <div class="navButton">
            <button class="btn btn-info navLink" routerLink="/admin-page" disabled >Users</button>
        </div>
        <div class="navButton">
            <button class="btn btn-success navLink" routerLink="/admin-submit-results">Set Result</button>
        </div>
        <div class="navButton">
            <button class="btn btn-danger navLink" routerLink="/admin-payout">Payout</button>
        </div>    
    </div>

<app-user-list></app-user-list>